@{
    ViewData["Title"] = "Confirmação de envio de email";
}

    @if (ViewBag.Message != null)
    {
    <h4>
        @ViewBag.Message
    </h4>
    }
    else
    {
    <div>
        <h4>
            Se você tem uma conta conosco, nós te enviamos um email com as instruções para redefinir sua senha.
            < br />
            If you have an account with us, we have sent an email
            with the instructions to reset your password.
        </h4>
    </div>
    }
    
