
@{
    ViewData["Title"] = "Confirmação de registro";
}

<h1>Confirmação de registro</h1>

<h3>
    @ViewBag.Message

    <a asp-controller="Account" asp-action="Login">Clique aqui</a> para fazer login.
</h3>

